<%- model_class = Posto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:logradouro) %></th>
      <th><%= model_class.human_attribute_name(:numero) %></th>
      <th><%= model_class.human_attribute_name(:bairro) %></th>
      <th><%= model_class.human_attribute_name(:cidade) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:uf) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @postos.each do |posto| %>
      <tr>
        <td><%= link_to posto.id, posto_path(posto) %></td>
        <td><%= posto.nome %></td>
        <td><%= posto.logradouro %></td>
        <td><%= posto.numero %></td>
        <td><%= posto.bairro %></td>
        <td><%= posto.cidade %></td>
        <td><%= posto.latitude %></td>
        <td><%= posto.longitude %></td>
        <td><%= posto.uf %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_posto_path(posto), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      posto_path(posto),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_posto_path,
            :class => 'btn btn-primary' %>
